.page {
  overflow: auto;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;

  .input {
    margin: 0;
  }

  .select {
    margin: 0 5px;
  }
}

input {
  margin-right: 15px;
  flex: 1;
}

.listTitle {
  margin-top: 15px;
}

.listWrap {
  padding-bottom: 15px;
}

.responseContainer {
  width: 100%;
  margin-top: 15px;
  padding: 0 15px;
  box-sizing: border-box;
}

.titleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #f4fce3;
  padding: 5px 10px;
  margin: 0 auto 10px;
  border: solid 1px #d8f5a2;
  border-top: none;
  box-sizing: border-box;

  .icon {
    flex: none;
    height: 20px;
    border-radius: 3px;
  }

  .title {
    font-size: 18px;
  }
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  box-sizing: border-box;
  gap: 10px;

  .icon {
    height: 16px;
  }

  .title {
    font-size: 14px;
  }
}

.cover {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
  border: solid 1px #d8f5a2;
  border-top: none;
  max-height: 345px;
  object-fit: contain;
}

img {
  font-size: 0;
  display: block;
}

.emptyHolder {
  height: 300px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 6px;
  color: #aaa;
}